html,
body{
    height: 100%;
    width: 100%;
}
.text-center{
   text-align: center; 
}
.button{
    padding:50px 45px;
    margin: 0px;
    border: 2px solid black;
    width: 100px;
    border-radius: 9px;
    cursor: pointer;
    font-size: larger;
    
}
.button:hover{
    background-color: rgb(167, 163, 163);
    color: rgb(211, 207, 207);
}

.mx-auto{
    margin: auto;
}   

.flex {
display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.row{
    margin: 6px 0;
}
.row input{
    font-size: 24px;
    margin: 0;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
}